<h2><%= myMessageHello%></h2>


<div class="container">
    <div class="row MyCssClass">

            <p>Computer EJS Page</p>
                <% for(var i=0; i<products.length; i++)
                {%>
                    <div class="colsm-3"><%=products[i]%></div>
                <%}%>
        </div>
    </div>
</div>
