<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/public/css/style.css">
<link rel="stylesheet" href="/public/css/bootstrap.css"/>
<link rel="stylesheet" href="/public/css/bootstrap-theme.css"/>
<link rel="stylesheet" href="/public/css/style.css">
<body>
        <h1>Shopping </h1>
        <a href="/index">INDEX</a> | 
        <a href="/login">LOGIN</a> | 
        <a href="/electronic">ELECTRONIC</a> | 
        <a href="/electronic/computer">COMPUTER</a> | <hr>
    <%- body%>

    <script type="application/javascript" src="/public/js/jquery-3.3.1.min.js">
    <script type="application/javascript" src="/public/js/bootstrap.js">
        
</body>

</html>